@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

html {
  font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.navbar-brand{
    font-size: 3.9rem !important;
}

p{
    font-weight: bold;
    background: -webkit-linear-gradient(10deg,#1b59e8 10%,#d0009f 81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 991px){

    .navbar-brand{
        font-size: 1.5rem !important;
    }

}